<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勉強記録編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>勉強記録編集</h1>

    <form method="POST">
        <p>科目</p>
        <input type="text" name="subject" value="{{record[0]}}">
        <p>勉強時間（分）</p>
        <input type="number" name="minutes" value="{{record[1]}}">

        <br><br>

        <button type="submit">更新</button>

    </form>
    
    
    
</body>
</html>