<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studyHero AI</title>

    <meta name="google-adsense-account" content="ca-pub-6288854483652181">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6288854483652181"
    crossorigin="anonymous"></script>
</head>
<body>
    <h1>Hello, StudyHero!</h1>
    <p>勉強アプリへようこそ！</p>
    <a href="{{ url_for('login') }}">
        <button>勉強を始める</button>
    </a>

   
    
</body>
</html>