<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>

     <meta name="description"
          content="StudyHero AIにログインして、勉強時間や学習予定を管理しましょう。">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="login-page">
        <section class="login-card">

            <h1>StudyHero AI</h1>

            <h2>ログイン</h2>

            <p class="login-description">
                StudyHero AIにログインして、<br>
                毎日の勉強を記録しましょう。
            </p>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('login') }}" method="POST">
                <label for="username">ユーザー名</label>

                <input 
                    type="text"
                    id="username"
                    name="username"
                    placeholder="ユーザー名を入力"
                    required
                >
                
                <label for="password">パスワード</label>
        
                <input 
                    type="password"
                    id="password"
                    name="password"
                    placeholder="パスワードを入力"
                    required
                >


                <button type="submit">
                    ログイン
                </button>

            </form>
            <div class="login-links">
                 <p>
                    アカウントをお持ちでない方
                </p>

                <a href="{{ url_for('register') }}">
                    新規登録はこちら
                </a>

                <br>

                <a href="{{ url_for('index') }}">
                    ← トップページに戻る
                </a>

            </div>

        </section>

    </main>
    
</body>
</html>